<section class="container cards">
  <div class="cards_reset"><button>Reset</button></div>

  <section class="cards_box">
    <h1 class="cards_box-title">Nombre Apellido</h1>

    <h2 class="cards_box-subtitle">Front-end developer</h2>

    <img
      src="./assets/images/rosalia.jpg"
      alt="profile-photo"
      class="cards_box-photo"
    />

    <nav>
      <ul class="cards_box-socialmedia">
        <li class="cards_box-socialmedia--phone">telefono</li>
        <li class="cards_box-socialmedia--email">
          <li class="far fa-envelope"> email</li>
        </li>
        <li class="cards_box-socialmedia--linkedin">linkedin</li>
        <li class="cards_box-socialmedia--github">git</li>
      </ul>
    </nav>
  </section>
</section>
<section class="form">
<form class="user-options">
  <h2>diseña</h2>
  <div class="color-design">
   <div class="color" ><p>colores</p></div> 
   <div class="radio-color">
    <label class="color-profile">
      <input id="color1" type="radio" value="blue" name="bluecolors"> BLUE

      <input id="color2" type="radio" value="red" name="redcolors">
     RED
      <input id="color3" type="radio" value="mixedcolor" name="mixedsolors"> MIX
    </div>
    </label>
  </div>
</form>
<form class="info">
  <h2>rellena</h2>
  <p>
    nombre completo<input
      placeholder="Ej. Azahara García"
      type="text"
      name="nombrecompleto"
    />
  </p>
  <p>
    puesto<input placeholder="Frontend Unicorn" type="text" name="puesto" />
  </p>
  <p>imagen de perfil</p>
  <button class="profile-image"></button>
  <p>
    e-mail<input
      placeholder="azaharagmail.com"
      type="email"
      id="emailAddress"
      name="emailAddress"
    />
  </p>
  <p>
    teléfono <input placeholder="666666666" type="tel" id="tel" name="tel" />
  </p>
  <p>linkedin<input type="text" name="linkedin" /></p>
  <p>github<input type="text" name="github" /></p>
</form>
<form>
  <h2>comparte</h2>
  <buttom class="new-card"></buttom>
</form>
</section>