<section class="container cards">
  <div><button class="cards_reset"></button></div>

  <section class="cards_box">
    <h1 class="box_titlle">Nombre Apellido</h1>

    <h2 class="box_subtitle">Front-end developer</h2>

    <img src="" alt="profile-photo" class="box_photo" />

    <ul class="box_socialmedia">
      <li class="box_socialmedia-phone"></li>
      <li class="box_socialmedia-email">
        <i class="far fa-envelope"></i>
      </li>
      <li class="box_socialmedia-linkedin"></li>
      <li class="box_socialmedia-github"></li>
    </ul>
  </section>
</section>
<form>
  <legend>diseña</legend>
</form>
<form>
  <legend>rellena</legend>
  <p>nombre completo<input type="text" name="nombrecompleto" /></p>
  <p>puesto<input type="text" name="puesto" /></p>
</form>
<form>
  <legend>comparte</legend>
</form>
