<section class="container cards">
  <div class="cards_reset"><button>Reset </button></div>

  <section class="cards_box">
    <h1 class="cards_box-title">Nombre Apellido</h1>

    <h2 class="cards_box-subtitle">Front-end developer</h2>

    <img src="./assets/images/rosalia.jpg" alt="profile-photo" class="cards_box-photo" />

    <nav>
      <ul class="cards_box-socialmedia">
        <li class="cards_box-socialmedia--phone"> telefono</li>
        <li class="cards_box-socialmedia--email">
          <i class="far fa-envelope"> email</i>
        </li>
        <li class="cards_box-socialmedia--linkedin"> linkedin </li>
        <li class="cards_box-socialmedia--github"> git</li>
      </ul>
    </nav>

  </section>

</section>
<form>
  <legend>diseña</legend>
</form>
<form>
  <legend>rellena</legend>
  <p>nombre completo<input type="text" name="nombrecompleto" /></p>
  <p>puesto<input type="text" name="puesto" /></p>
</form>
<form>
  <legend>comparte</legend>
</form>