.container {
  margin-left: 45px;
  margin-right: 35px;
  @media (min-width: 768px) {
    margin: 0 40px;
  }
}

.cards {
  background-color: #bfcdd0;
  height: 457px;
}
.cards_box-title {
  font-family: "Montserrat", sans-serif;
  color: #114e4e;
  font-size: 18px;
  margin: 21px 14px 4px 20px;
}

.cards_box-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #54585a;
  font-size: 16px;
  margin: 0 0 10px 20px;
}

.cards_reset {
  margin: 38px 200px 20px 45px;
  border-radius: 40px white;
  height: 30px;
  width: 75px;
}
.cards_box {
  margin: 0 35px 40px 45px;
  height: 329px;
  width: 240px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cards_box-photo {
  width: 240px;
  height: 200px;
}

.cards_box-socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon.social {
  color: $darkgreen;
}

/* Azahara*/

.form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  color: $gunmetal;
  font-size: 18px;
  background-color: white;
  font-family: "OpenSans";
}
.legend-fill {
  margin-bottom: 22px;
}
.user-options {
  font-size: 14px;
}
.color-design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color {
  margin-bottom: 20px;
  transform: scale(1.5);
}

.radio-color {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.legend-fill {
  font-size: 18px;
  text-transform: uppercase;
}
.legend-fill1 {
  font-size: 18px;
  text-transform: uppercase;
  transform: translate(0, 3px);
}
.formies {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid $lightgreen;
}
.profile-image {
  width: 140px;
  height: 30px;
  background-color: $dull-orange;
  color: white;
  border-radius: 5px;
  margin-bottom: 7px;
}
.buttom-white {
  width: 30px;
  height: 30px;
  border: 1px solid $lightgreen;
  background-color: white;
  margin-left: 20px;
  transform: translate(0, 9px);
}
.color-image {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  transform: translate(0, 7px);
}

.icon2 {
  display: flex;
  flex-direction: row;
}
.list-icon2b {
  color: $dull-orange;
  transform: translate(0, 3px);
  margin-right: 10px;
}
