.main_container {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    background-color: $white-four;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #bfcdd0;

  @media (min-width: 768px) {
    order: 1;
    width: 329px;
    height: 812px;
    border-radius: 10px;
    margin: 20px 40px 20px 0;
  }
  @media (min-width: 1024px) {
    width: 585px;
    padding-right: 213px;
    padding-left: 173px;
  }
  &_button {
    text-transform: uppercase;
    font-family: $text;
    font-size: 12px;
    color: #54585a;
    background-color: #bfcdd0;
    margin: 38px 200px 20px 45px;
    height: 30px;
    width: 75px;
    border: $white-four 1px solid;
    border-radius: 20px;
  }
}

.cards_box-title {
  font-family: "Montserrat", sans-serif;
  color: #114e4e;
  font-size: 18px;
  margin: 21px 14px 4px 20px;
}

.cards_box-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #54585a;
  font-size: 16px;
  margin: 0 0 10px 20px;
}

.cards_box {
  margin: 0 35px 40px 45px;
  height: 329px;
  width: 240px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  &-photo {
    object-fit: cover;
    width: 240px;
    height: 200px;
  }
  &-socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 54px;
    padding: 10px 62px 12px 20px;
    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: $lightgreen solid 2px;
      border-radius: 32px;
    }
  }
}

.icon-social {
  color: $darkgreen;
}

/* Azahara*/

.form {
  width: 100%;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 27px;
  color: $gunmetal;
  font-size: 18px;
  background-color: white;
  font-family: "OpenSans";
  @media (min-width: 768px) {
    background-color: $white-four;
  }
}
.legend-fill {
  margin-bottom: 22px;
}
.user-options {
  font-size: 14px;
}
.color-design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color {
  margin-bottom: 20px;
  transform: scale(1.5);
}

.radio-color {
  display: flex;
  flex-direction: column;
}
.info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.legend-fill {
  font-size: 18px;
  text-transform: uppercase;
  font-family: $text;
}
.legend-fill1 {
  font-size: 18px;
  text-transform: uppercase;
  transform: translate(0, 3px);
}
.formies {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid $lightgreen;
  padding-left: 10px;
}
::placeholder {
  color: #c5c5c5;
}

.profile-image {
  width: 140px;
  height: 30px;
  background-color: $dull-orange;
  color: white;
  border-radius: 5px;
  margin-bottom: 7px;
}
.buttom-white {
  width: 30px;
  height: 30px;
  border: 1px solid $lightgreen;
  background-color: white;
  margin-left: 20px;
  transform: translate(0, 9px);
}
.color-image {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  transform: translate(0, 7px);
}

.icon2 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $white-two;
  margin-bottom: 20px;
}
.list-icon2b {
  color: $dull-orange;
  margin-right: 10px;
  font-size: 18px;
}
.ico-scroll,
.ico-scroll2 {
  font-size: 17px;
  background-color: white;
  color: $gunmetal;
  flex-grow: 1;
  text-align: right;
  @media (min-width: 768px) {
    background-color: $white-four;
  }
}
.sharebutton {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid $white-two;
}
.new-card {
  width: 199px;
  height: 50px;
  background-color: #d5d5d5;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.32);
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  padding-left: 17px;
  font-size: 18px;
  @media (min-width: 768px) {
    background-color: $dull-orange;
  }
}

.card-done {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid $white-two;
}
.tarjeta {
  margin: auto;
  margin-bottom: 5px;
}
.url {
  color: $dull-orange;
  font-size: 12px;
  margin: auto;
  margin-bottom: 10px;
}
.twitter-share {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 181px;
  height: 30px;
  background-color: #00a0f5;
  font-size: 14px;
  text-align: center;
  color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.32);
  margin: auto;
}

.fa-twitter {
  padding-right: 9.5px;
}
.js-hidden {
  display: none;
  /*visibility: hidden;*/
}

.fill-container {
  color: $darkgreen;
}
