.container {
  margin-left: 45px;
  margin-right: 35px;
  @media (min-width: 768px) {
    margin: 0 40px;
  }
}

.cards {
  background-color: #bfcdd0;
  height: 457px;
}
.box_titlle {
  font-family: "Montserrat", sans-serif;
  color: #114e4e;
  font-size: 18px;
}
.cards_reset {
  height: 30px;
  width: 75px;
}
.cards_box {
  margin-top: 88px;
  margin-bottom: 40px;
  height: 329px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
