.footer {
    background-color: $white-three;
    display: flex;
    justify-content: center;
    border: 1px solid $white-two;
    height: 110px;
}

.small {
    font-size: 14px;
    line-height: 20px;
    color: $white-two;
    padding-top: 18px;
}