.footer {
  background-color: $white-three;
  display: flex;
  justify-content: center;
  border: 1px solid $white-two;
  width: 100%;
  height: 110px;

  @media (min-width: 768px) {
    justify-content: space-between;
    height: 60px;
    padding-left: 41px;
  }
}

.small {
  font-size: 14px;
  line-height: 20px;
  color: $white-two;
  padding-top: 18px;
}

.footer-landing {
  position: absolute;
  bottom: 0;
}
