.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 95px;
  @media (min-width: 768px) {
    padding-top: 137px;
  }

  &_logo {
    width: 250px;
    height: 63px;
    @media (min-width: 768px) {
      width: 419px;
      height: 105px;
    }
  }
}