.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  @media (min-width: 768px) {
    padding-top: 5%;
  }

  &_logo {
    width: 163px;
    height: 163px;
    @media (min-width: 768px) {
      width: 300px;
      height: 300px;
    }
  }
}
