body {
  background-color: $white-four;
}
/*
.container {
  margin: 0 35px;
  @media (min-width: 768px) {
    margin-left: 41px;
    margin-right: 40px;
  }
}*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  &__title {
    color: $dull-orange;
    font-family: $landing-title;
    font-weight: 900;
  }

  &__nav-container {
    border: solid rgba(225, 115, 52, 0.21) 1.6px;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 30px;

    &___list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .nav-container___list--item {
        display: flex;
        flex-direction: column;
        width: 70px;
        font-size: 12.8px;

        .list-icon {
          color: $dull-orange;
          font-size: 22.4px;
        }
      }
    }
  }
  .main-container__link {
    color: $white-three;
    font-weight: 600;
    background-color: #438792;
    border-radius: 21px;
    text-transform: uppercase;
    padding: 10px 20px;

    height: 42px;
    width: 129px;

    margin-top: 15px;
    margin-bottom: 30px;
  }
}
